
@{
    ViewData["Title"] = "Movie List";
}

@model IEnumerable<WebApp_Assignment3.Models.SubmissionResponse>

<h1><em>Movie List</em></h1>
<div class="text-center align-content-center">
    <h2>Here Are All Saved Movies</h2>
    <br />
    <br />

    <table class="table-bordered align-content-center">
        <thead>
            <tr><th>Category</th><th>Title</th><th>Year</th><th>Director</th><th>Rating</th><th>Edited</th><th>Lent To</th><th>Notes</th><th>Edit</th><th>Delete</th></tr>
        </thead>

        <tbody>
            @foreach (WebApp_Assignment3.Models.SubmissionResponse x in Model)
            {   
                <tr>
                    <td>@x.Category</td>
                    <td>@x.Title</td>
                    <td>@x.Year</td>
                    <td>@x.Director</td>
                    <td>@x.Rating</td>
                    <td>@x.Edited</td>
                    <td>@x.LentTo</td>
                    <td>@x.Notes</td>
                    <td>edit</td>
                    <td>delete</td>
                </tr>
            }
        </tbody>
    </table>
</div>
